# Database Connection
DATABASE_URL=psql 'postgresql://neondb_owner:npg_y3LEioMjc5pV@ep-mute-poetry-aqsmw8a8-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Gemini API
GEMINI_API_KEY='AIzaSyDGGkT2AGmQPvN0tdDDylVWupBUwugoDKc'
# Server
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
